@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* START OF DESTKOP FONTS */
.destkop-h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.75rem;
}

.destkop-h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.75rem;
}

.destkop-h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.destkop-lg {
    font-family: "Inter", sans-serif;
    font-size: 1.25rem;
    line-height: 2rem;
}

.destkop-md {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}

.destkop-sm {
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.destkop-caption {
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
}
/* END OF DESTKOP FONTS */

/* START OF MOBILE FONTS */
.mobile-h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
}

.mobile-h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.mobile-h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.75rem;
}

.mobile-h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.mobile-lg {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}

.mobile-md {
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.mobile-sm {
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.mobile-caption {
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
}
/* END OF MOBILE FONTS */

/* START SPECIAL FONTS */
.text-article {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: 0.16px;
}

.text-nav {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
}
/* END SPECIAL FONTS */